{% extends 'base.html' %}
{% block content %}
<h2 class="text-2xl font-bold mb-4"></h2>

<div class="flex flex-wrap items-center gap-3 mb-6">
  <a href="?category=all" 
     class="px-4 py-2 rounded-full text-sm font-medium 
     {% if not category_id or category_id == 'all' %}
       bg-gray-800 text-white
     {% else %}
       bg-gray-100 text-gray-800 hover:bg-gray-200
     {% endif %}">
    ทั้งหมด
  </a>

  {% for category in categories %}
    <a href="?category={{ category.id }}" 
       class="px-4 py-2 rounded-full text-sm font-medium 
       {% if category.id|stringformat:"s" == category_id %}
         bg-gray-800 text-white
       {% else %}
         bg-gray-100 text-gray-800 hover:bg-gray-200
       {% endif %}">
      {{ category.name }}
    </a>
  {% endfor %}
</div>


<div class="grid grid-cols-1 md:grid-cols-3 gap-6">
  {% for product in products %}
    <div class="bg-white p-4 rounded shadow">
      {% if product.image %}
        <img src="{{ product.image.url }}" class="w-full h-40 object-cover rounded">
      {% endif %}
      <h3 class="text-lg font-bold mt-2">{{ product.name }}</h3>
      <p class="text-gray-600">{{ product.price }} บาท</p>
      <a href="{% url 'product_detail' product.pk %}" class="text-blue-500">ดูรายละเอียด</a>
    </div>
  {% empty %}
    <p>ไม่มีสินค้า</p>
  {% endfor %}
</div>

<a href="{% url 'product_add' %}" class="mt-6 inline-block bg-green-500 text-white px-4 py-2 rounded">+ เพิ่มสินค้า</a>
{% endblock %}
